.active .nav-link
{
    color: red !important;
}
#banner
{
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(20, 216, 20);
    border-radius: 50px;
}

table,th,td 
{
    border: 1px solid grey;
    border-collapse:collapse;
}
.clock
{

    background-color: black;
}
img
{
    width: 20px;   
}
#notify
{
    width: 500px;
    font-size: 60px ;
}
#notify-content
{
    margin: auto;
    text-align: center;
}
